@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #945eeb;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #e8ecee;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}
  /* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #e8ecee;
    z-index: 1;
    font-size: 1.3rem;
}
.navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
.navbar-icon {
    font-size: 1.5rem;
}
.logo {
    width: 250px;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
    font-size: 1.2rem;
}
.fa-cart-plus {
    font-size: 1.6rem;
}
/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("/images/vcam_4.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  /* --------------- End of Hero ---------------- */
  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
    text-align: center;
  }
  .product h5 {
     font-size: 1,2rem;
     text-align: center;
  }
  .card {
    border-style: none;
  }
  .card h2 h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  /* ---------------End of Products ---------------- */

  table {
    border-collapse: collapse;
    width: 90%;
    margin: 35px auto;
    max-width: 900px;
    /*display: inline;*/
    /*justify-content: center;*/
}

table td,
table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


table tr:nth-child(even){
    background-color: #e9ecef8f;

}

table .deleteItem {
    border: 0 solid;
    background-color: #e99d9d;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  table .deleteItem:hover {
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 2px #427388;
  }

tr p {
    display: inline;
}

.divImage img{
    margin-right: 20px;
    display: inline;
}
.divImage p {
    display: inline;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.quantity{
    width: 50px;
}

#product-total{ 
    display: flex;
    justify-content: center;
    background-color: #e9ecef8f;
    width: 30%;
    margin: auto;
    border-radius: 40px;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.p {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #00c02b !important;
    border-color: #009d23 !important;
    color: #ffffff;
    margin-top: 10px;
    max-width: 400px;
    padding: 6px;
    background: #cccccc;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.p-visible {
    top: 20px;
    opacity: 1;
    visibility: visible;
}

.total p {
    margin-top: auto;
    margin-bottom: auto;
}
.total-price {
    margin-left: 20px;
    font-weight: 600;
}

.required {
  color: red;
}
/* --------------- Confirmation ---------------- */
main header {
  border: solid 1px gainsboro;
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border-top: none;
}

main header h1 {
  font-size: 25px;
}

main div {
  padding: 30px;
  font-size: 20px;
}

main div button {
  margin: auto;
}